In [5]:
url = 'https://raw.githubusercontent.com/master-your-money-bw/data-science/master/datasets/almost_final.csv'

In [23]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score
from sklearn.model_selection import train_test_split
import statsmodels.api as sm

In [7]:
df = pd.read_csv(url)

df.head()

,Unnamed: 0,NEWID,Total expenses,Entertainment,Total Transportation cost,Total Housing,Total Food,Income before tax,Luxury expenses,FINATXEM,Income minus total expenses,possible savings
0,0,3566504,11869.75,42.0,3771.0,3739.00,1690.0,130383,2627.75,90691.9,10803.225,3601.075000
1,1,3566514,7753.00,465.0,772.0,3689.00,1365.0,63421,1462.00,63421.0,8102.250,2700.750000
2,2,3566534,77432.75,4191.0,5536.0,24224.75,3931.0,1114425,39550.00,-191620.6,-125337.900,-41779.300000
3,3,3566544,16488.75,1151.0,3351.0,2593.00,3640.0,154800,5753.75,136908.0,17738.250,5912.750000
4,4,3566624,8518.30,0.0,2805.0,2733.50,1885.0,54040,1094.80,54347.4,5068.550,1689.516667

In [8]:
df['Necessities'] = (df['Total Housing'] + df['Total Food'] + df['Total Transportation cost'])

df['Necessities'].head()

0     9200.00
1     5826.00
2    33691.75
3     9584.00
4     7423.50
Name: Necessities, dtype: float64

In [10]:
df['50%'] = (df['Necessities']/3) / ((df['FINATXEM'])/12)

df['50%'].head()

0    0.405769
1    0.367449
2   -0.703301
3    0.280013
4    0.546374
Name: 50%, dtype: float64

In [11]:
df['30%'] = ((df['Luxury expenses'] + df['Entertainment']) / 3) / ((df['FINATXEM'])/12)

df['30%'].head()

0    0.117750
1    0.121537
2   -0.913075
3    0.201734
4    0.080578
Name: 30%, dtype: float64

In [12]:
df['20%'] = ((df['possible savings'])/3) / (df['FINATXEM'] / 12)

df['20%'].head()

0    0.158827
1    0.170338
2    0.872125
3    0.172751
4    0.124349
Name: 20%, dtype: float64

In [14]:
df.head()

,Unnamed: 0,NEWID,Total expenses,Entertainment,Total Transportation cost,Total Housing,Total Food,Income before tax,Luxury expenses,FINATXEM,Income minus total expenses,possible savings,Necessities,50%,30%,20%
0,0,3566504,11869.75,42.0,3771.0,3739.00,1690.0,130383,2627.75,90691.9,10803.225,3601.075000,9200.00,0.405769,0.117750,0.158827
1,1,3566514,7753.00,465.0,772.0,3689.00,1365.0,63421,1462.00,63421.0,8102.250,2700.750000,5826.00,0.367449,0.121537,0.170338
2,2,3566534,77432.75,4191.0,5536.0,24224.75,3931.0,1114425,39550.00,-191620.6,-125337.900,-41779.300000,33691.75,-0.703301,-0.913075,0.872125
3,3,3566544,16488.75,1151.0,3351.0,2593.00,3640.0,154800,5753.75,136908.0,17738.250,5912.750000,9584.00,0.280013,0.201734,0.172751
4,4,3566624,8518.30,0.0,2805.0,2733.50,1885.0,54040,1094.80,54347.4,5068.550,1689.516667,7423.50,0.546374,0.080578,0.124349

In [18]:
df['50%'].describe()

count     4430.000000
mean         4.231925
std        234.651337
min         -5.036345
25%          0.220821
50%          0.386286
75%          0.630802
max      15618.000000
Name: 50%, dtype: float64

In [17]:
df = df.loc[(df!=0).all(1)]

In [20]:
df['20%'].describe()

count    4430.000000
mean       -1.901259
std       126.294488
min     -8405.666667
25%         0.028877
50%         0.138358
75%         0.219111
max         4.394068
Name: 20%, dtype: float64

In [19]:
df['30%'].describe()

count    4430.000000
mean        2.471852
std       144.234207
min       -10.285480
25%         0.094465
50%         0.165147
75%         0.283329
max      9600.000000
Name: 30%, dtype: float64

##Model##

In [22]:
features = ['FINATXEM']

target = '50%'

X = df[features]
y = df[target]


X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.30, random_state = 42)

In [26]:
model = LinearRegression()
model.fit(X_train, y_train)
y_pred = np.exp(model.predict(X_test)) # Apply exponential function (inverse of natural log) to the predictions
print('R^2', model.score(X_test, y_pred))

R^2 -0.0007594206012886406